<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    {% for i in myObjects %}
        <tr><td>{{i.name}}</td><td>{{ i.highScore }}</td></tr>
    {% endfor %}
</table>

</body>
</html>